.hero {
  cursor: pointer;
  margin-top: 22px;
  max-width: 1590px;
  display: flex;
  padding: 0 20px;
  align-items: center;
  gap: 50px;
  text-align: center;
  
  &_img {
    width: 70px;
    border-radius: 50%;
  }
  
  &_h2 {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    width: 130px;
    margin-top: 10px;
  }
}

.hero_ota {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ant-image-mask-info {
  border-radius: 50% !important;
}

.ant-image-mask {
  border-radius: 50% !important;
}

.ant-input-group-wrapper {
  width: 25% !important;
}

@media only screen and (max-width: 1440px){
  .hero{
     gap: 40px;
  }
}
@media only screen and (max-width: 1368px){
  .hero{
     gap: 30px;
  }
}
@media only screen and (max-width: 1290px){
  .hero{
     gap: 20px;

     &_h2{
      font-size: 17px;
     }
  }
}
@media only screen and (max-width: 1219px){
  .hero{
     gap: 10px;

     &_h2{
      font-size: 15px;
     }

     &_img{
       width: 50px !important;
       height: 50px !important;
     }
  }
}
@media only screen and (max-width: 1159px){
  .hero{
     gap: 1px;

     &_h2{
      font-size: 12px;
     }

     &_img{
       width: 50px !important;
       height: 50px !important;
     }
  }
}
@media only screen and (max-width: 1080px){
  .hero{
     gap: 0px;

     &_image{
      width: 120px;
     }

     &_h2{
      width: 120px;
      font-size: 12px;
     }

     &_img{
       width: 50px !important;
       height: 50px !important;
     }
  }
}
@media only screen and (max-width: 1000px){
  .hero{
     gap: 0px;

     &_image{
      width: 100px;
     }

     &_h2{
      width: 100px;
      font-size: 12px;
     }

     &_img{
       width: 50px !important;
       height: 50px !important;
     }
  }
}
@media only screen and (max-width: 859px){
  .hero{
     &_image{
      width: 80px;
     }

     &_h2{
      width: 80px;
      font-size: 12px;
     }

     &_img{
       width: 50px !important;
       height: 50px !important;
     }
  }
}
@media only screen and (max-width: 704px){
  .hero{
    display: none;
  }
}
