.logo {
  width: 170px;
  display: flex;
  height: 40px;
  margin-top: -10px;
  
  &_mahina {
    margin-top: -5px;
    width: 170px;
    height: 80px;
    background-image: url(../../img/Mahina_Logo-Black_410x.webp);
    background-size: 150px;
    background-repeat: no-repeat;
  }

}

@media only screen and (max-width: 822px){
  .logo_mahina{
     width: 120px;
     background-size: 100px;
     margin-top: 10px;
  }
}
