.logo {
  width: 170px;
  display: flex;
  height: 40px;
  margin-left: -30px;
  margin-top: -10px;
  
  &_mahina {
    margin-top: -5px;
    width: 170px;
    height: 80px;
    background-image: url(../../img/Mahina_Logo-Black_410x.webp);
    background-size: 150px;
    background-repeat: no-repeat;
  }

  &_shop{
    width: 35px;
    height: 40px;
    background-image: url(../../img/giphy.gif);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center center;
   }
}
