.single {
  &_h1 {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    font-family: Montserrat;
    margin-bottom: 20px;
  }

  &_list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 25px;
    background: #ffffff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    
  }

  &_item{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    list-style: none;
    flex-direction: column;
  }

  &_header{
    padding: 30px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:50px;
    cursor: pointer;
  }

  &_img{
    border-radius: 15px;
  }

  &_footer{
    width: 100%;
    padding-right: 95px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 50px;
  }

  &_name{
      font-family: Montserrat;
      font-size: 25px;
      font-weight: 700;
      line-height: 30px;
      letter-spacing: 0em;
      text-align: left;
  }

  &_narx{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    &1{
        font-family: Montserrat;
        font-size: 28px;
        font-weight: 600;
        line-height: 34px;
        letter-spacing: 0em;
        text-align: center;
        color: #DF6464;        
    }

    &2{
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        color: #aaaaaa;
        position: relative;

    }

    &Chiziq{
        width: 100%;
        height: 3px;
        background-color: #DF6464;
        position: absolute;
        margin-top: 10px;
    }
  }

  &_data{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 23px;
  }

  &_left{
    margin-right: 31px;
    width: 1000px;

    &--header{
      background: #FFFFFF;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
      border-radius: 15px;
      padding: 22px;
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
      font-family: Montserrat;
    }

    &--main{
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      height: 520px;
      padding: 22px;
      gap: 10px;
      font-family: Montserrat;
      font-size: 15px;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: left;
      background: #F9F9F9;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
      border-radius: 15px;
      margin-top: -20px;
      position: relative;
      z-index: -1;
      padding-top: 50px;
    }
  }

  &_btn{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    &--btn{
      background: #101010;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
      border-radius: 10px;
      color: white;
      border: none;
      width: 354px;
      margin-bottom: 32px;
      padding: 24px 0;
      font-family: Montserrat;
      font-size: 20px;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: center;

    }

    &--svg{
      background: #101010;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
      border-radius: 10px;
      color: white;
      border: none;
      width: 354px;
      padding: 24px 0;
      font-size: 20px;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: center;
      font-family: Montserrat;
      position: relative;
      cursor: pointer;


      &--img{
        position: absolute;
        left: 30px;  
        margin-top: -5px;
      }
    }
  }

}

@media only screen and (max-width: 825px){
    .single{

      &_left{
        display: none;
      }

      &_name{
        font-size: 20px;
    }
  
    &_narx1{
          font-size: 20px;     
     }
    }
}
@media only screen and (max-width: 600px){
    .single{
      margin-left: 20px;
      &_left{
        display: none;
      }
          &_name{
            font-size: 15px;
          }
      
        &_narx1{
              font-size: 15px;     
        }
        &_footer{
          width: 380px;
        }
        &_narx2{
              font-size: 12px;     
        }
    }
}